:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  color: #FBCBCB;
  text-align: center;
}

a {
  font-weight: 500;
  color: #FBCBCB;
  text-decoration: inherit;
}
a:hover {
  color: #FFFFFF;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Philosopher", sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #FFFFFF;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #FFFFFF;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*
Customizations
*/
/*
nav{
  padding: 0.5rem;
  background-color: #222222;
  padding: 10px;
  border-radius: 20px;
}
*/

/*About Me*/
nav ul{
  list-style: none;
  margin-right: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  font-size: large;
}
nav li{
  margin-right: 1rem;
}

h1{
  opacity: 90%;
}

h2{
  text-align: center;
  font-family: "Philosopher", sans-serif;
}

.avatar{
  flex-basis:50%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.text-content{
  flex-basis: 50%;
  margin-top: 10%;
  margin-bottom: 5%;
}

header, footer{
  text-align: center;
  padding: 1em;
  background-color: #222222;

}
footer{
  background-color: #222222;
}

.header-container h2{
  margin-right: 1rem;
}

.about-me-container, #resume{
  border-radius: 10px;
  margin: 2rem auto;
  justify-content: space-between;
  background-color: #222222;
  max-width: 100%;
}

@media (min-width: 768px){
  .about-me-container, #resume{
    max-width: 800px;
  }
}

@media (min-width: 1024px){
  .about-me-container, #resume{
    max-width: 1000px;
  }
}

.social-links{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Resume */
ul{
  list-style: none;
}
h1{
  text-align: center;
}
h3{
  font-size: x-large;
}

/* Contact */
form{
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
  background-color:  #222222;
  margin: 0 auto;
  margin-bottom: 50px;
}

label{
  display:block;
}

input,textarea{
  width:100%;
  padding:10px;
  margin-bottom:16px;
  box-sizing:border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  background-color: black;
  color:#FFFFFF;
}

button:hover{
  background-color: #FBCBCB;
}